body {
    background-color: aqua;
    font-family: 'Orbitron', sans-serif;
    width: 100%;
}

#header{
    text-align: center;
    margin-top: 10vh;
    font-size: xx-large;
}

#content{
    display: flex;
    justify-content: center;
}

#calcContainer{
    max-width: fit-content;
    min-width: 550px;
}

#displayContainer{
    font-family: 'Orbitron', sans-serif;
}

button {
   width: 24.4%;
   height: 20%;
   margin-bottom: 5%;
   font-size: 55px;
   text-align: center;
   font-family: 'Orbitron', sans-serif;
}


#displayValue{
    text-align: right;
    font-size: 40px;
}

#currentSum{
    text-align: right;
    font-size: 25px;
    font-weight: lighter;
    opacity: 50%;
}

#displayContainer{
    border-style: solid;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-right: 3%;
}